<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block message %}{% endblock %}
    <p>Best,</p>
    <img src="cid:image0"><br/>
    <b>Dora</b><br/><br/>
<span style="font-size: 0.5em;">
    Note: I'm a robot 🤖 and not programmed to reply to your messages. If you want to stop receiving these emails or change their content or schedule, please contact your system administrator or software developer.
</span>
</body>
</html>